<div class="facts">
    <div class="facts__item">
        <div class="facts-count">
            128
        </div>
        <div class="facts-name">
            Участников <br> сообщества
        </div>
    </div>
    <div class="facts__item">
        <div class="facts-count">
            180
        </div>
        <div class="facts-name">
            Разработанных <br> проектов
        </div>
    </div>
    <div class="facts__item">
        <div class="facts-count">
            35
        </div>
        <div class="facts-name">
            Проведенных <br> мероприятий
        </div>
    </div>
</div>
