<div class="promo">
    <div class="row ">
        <div class="col-12 col-sm-3 col-md-5 col-xl-6 ">
            <div class="promo__image">
                <img src="static/img/content/promo-image.png" alt="">
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7 col-xl-6">
            <div class="promo__content">
                <div class="promo__title">
                    Стань одним из нас
                </div>
                <div class="promo__text">
                    Присоединяйся к амбициозной молодой команде  студенческогого научного общества
                </div>
                <div class="promo__action">
                    {{> uikit/button/markup text="Вступить в СНО"}}
                </div>
            </div>
        </div>
    </div>
</div>
