.avatar {
    display: flex;
    align-items: center;
    &__image {
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        & + * {
            margin-left: 10px;
        }
    }

    &__name {
        font-size: 14px;
        font-weight: 700;
        & + * {
            margin-top: 11px;
        }
    }

    &__role {
        @include font-size-get(p2);
    }

}

.avatar.avatar--small {
    .avatar {
        &__name {
            font-size: 11px;
            & + * {
                margin-top: 8px;
            }
        }

        &__role {
            font-size: 10px;
        }
    }
}
