@font-face {
    font-family: 'Verdana';
    src: url('Verdana.eot');
    src: local('Verdana'),
        url('Verdana.woff2') format('woff2'),
        url('Verdana.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Verdana';
    src: url('Verdana-Bold.eot');
    src: local('Verdana Bold'), local('Verdana-Bold'),
        url('Verdana-Bold.woff2') format('woff2'),
        url('Verdana-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
