.tabs {
    .nav.nav-pills {
        flex-wrap: nowrap;
        overflow: auto;
        padding-bottom: 8px;
        & + * {
            margin-top: 42px;
        }
    }
    .nav-item {
        & + * {
            margin-left: 40px;
            @include respond-to(md) {
                margin-left: 0;
            }
            @include respond-to(md) {
                margin-left: 24px;
            }
        }
    }
    .nav-link {
        padding: 0;
        white-space: nowrap;
        @include font-size-get('h1');
        color: rgba($c-black, 0.5);
        @include respond-to(lg) {
            font-size: 22px;
        }
        &.active {
            background: 0;
            color: $c-black;
        }
    }
}
