<div class="slider swiper-contaeiner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
    </div>
</div>
