<div class="slider swiper-contaeiner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
        <div class="swiper-slide">
            {{> slider-card/slider-card }}
        </div>
    </div>
    <div class="slider__navigation">
        <div class="slider__navigation-prev">
            <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.1001 16L18.733 14.6328L24.3615 9.02202H0.125V7.06889H24.3615L18.733 1.44034L20.1001 0.0909094L28.0547 8.04545L20.1001 16Z" fill="black"/>
            </svg>
        </div>
        <div class="slider__navigation-next">
            <svg width="29" height="16" viewBox="0 0 29 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M20.1001 16L18.733 14.6328L24.3615 9.02202H0.125V7.06889H24.3615L18.733 1.44034L20.1001 0.0909094L28.0547 8.04545L20.1001 16Z" fill="black"/>
            </svg>
        </div>
    </div>
</div>
