.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity ease-in-out 300ms;
    &.active {
        opacity: 1 !important;
    }
    &__inner {
        &--mt-36 {
            padding-top: 36px;

            @include respond-from-to(md, lg) {
                padding-top: 64px;
            };
        }
        &--pb-0 {
            padding-bottom: 0px;
            margin-top: 32px;
        }
    }
}
